* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:hover {
    transition: all 0.5s ease-in-out;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 1.6rem;
    color: #e58e26;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 50px; /* De la place pour la barre de nav */
}

/*body:after {*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*width: 100vw;*/
    /*!*opacity: 0.05;*!*/
/*}*/

a, a:hover, a:visited, a:active {
    text-decoration: none;
    font-size: 18px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 1.8rem;
    color: #e76838;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #fbf9af;
    width: 100%;
    min-height: 50px;
    top: 0;
    padding: 0 30px; /* Pour les navigateurs qui ne supportent pas les rem */
    padding: 0 3rem;
}

header a {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1; /* pour occuper toute la hauteur */
    /*margin-top: 50px;*/
}

#main-navigation a {
    color: #fefefe;
}

/*navigation Page principale*/
nav li {
    margin: 2px 5px;
    padding: 2px 15px;
    background-color: #e76838;
    display: inline-block;
    border-radius: 5px;
}

nav ul:hover > li {
    background-color: #c0512a;
    opacity: 0.5;
}

nav ul:hover > li:hover {
    opacity: 1;
}

.flash-error, .flash-confirm {
    display: block;
    position: fixed;
    margin-top: 5px;
    top: 30%;
    left: 50%;
    transform: translateY(-30%) translateX(-50%);
    color: #eeeeee;
    padding: 5px;
}

.flash-error {
    background-color: red;
}

.flash-confirm {
    background-color: green;
}

/* la recette */
main aside {
    align-self: center;
    border: 15px ridge #a8026f;
    padding: 30px; /* Pour les navigateurs qui ne supportent pas les rem */
    padding: 3rem;
    /*margin-top: 50px;*/
}

article p {
    width: 75%;
    margin: 0 auto;
    white-space: pre-line;
    text-align: left;
}

h1 {
    margin: 0;
}

article h3 {
    text-transform: uppercase;
}

aside h2 {
    flex-grow: 1;
}

aside h3, article h4 {
    font-family: 'Great Vibes', Helvetica, sans-serif;
    font-size: 30px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 3rem;
    letter-spacing: 3px;
    color: #e76838;
    border-top: #e76838 double 4px;
    border-bottom: #e76838 double 4px;
    margin-top: 20px; /* Pour les navigateurs qui ne supportent pas les rem */
    margin-top: 2rem;
    margin-bottom: 2px; /* Pour les navigateurs qui ne supportent pas les rem */
    margin-bottom: 2rem;
}

aside img {
    width: 200px;
    margin-top: 20px; /* Pour les navigateurs qui ne supportent pas les rem */
    margin-top: 2rem;
}

figure {
    display: contents;
}

.input {
    color: #222222;
    border-radius: 5px;
    background-color: #fefefe;
}

.container {
    width: 100%;
    /*margin: 7rem auto;*/
    background-color: #1e3799;
}

.center {
    text-align: center;
}

.p404 {
    background: rgba(255, 255, 255, 0.2) url("https://media.giphy.com/media/26BRvLjAsJoGb7vIA/source.gif");
    background-size: cover;
    width: 100%;
    height: 100%;
    color: black;
}

section a, section a:visited {
    color: black;
}

/************************************/
/********** Page recipes ************/
/************************************/

#recipe-navigation {
    background-color: #3941bd;
}

.view-recipe-image {
    width: 200px;
}

#view-recipe-article {
    padding: 20px 50px;
}

#view-recipe-article div {
    display: flex;
    font-size: 15px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 1.5rem;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin-top: 10px; /* Pour les navigateurs qui ne supportent pas les rem */
    margin-top: 1rem;
}

#view-recipe-article span {
    font-family: 'Montserrat', sans-serif;
    color: #e58e26;
}

#view-recipe-article h3 {
    font-size: 25px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 2.5rem;
}

#view-recipe-article h5 {
    font-family: 'Great Vibes', Helvetica, sans-serif;

    font-size: 22px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 2.2rem;
    letter-spacing: 2px;
    color: #e76838;
}

/************************************/
/********* Page add-recipe **********/
/************************************/

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}

.error {
    color: #fefefe;
    background-color: red;
    border: solid 2px #a8026f;
    border-radius: 5px;
    padding: 2px 10px;
}

label {
    text-align: left;
    background-color: #db2d43;
    color: #fefefe;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

input, textarea, select {
    margin-bottom: 30px; /* Pour les navigateurs qui ne supportent pas les rem */
    margin-bottom: 3rem;
    color: #222222;
    padding: 5px;
    background-color: #fefefe;
    border: none;
    border-radius: 5px;
}

button {
    color: #222222;
    background-color: chartreuse;
    border: none;
    padding: 5px 10px; /* Pour les navigateurs qui ne supportent pas les rem */
    padding: 0.5rem 1rem;
    align-self: center;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px; /* Pour les navigateurs qui ne supportent pas les rem */
    font-size: 1.6rem;
}

.button-scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: none;
}

button:hover {
    -webkit-box-shadow: 0 0 8px rgba(237, 216, 237, 1);
    -moz-box-shadow: 0 0 8px rgba(237, 216, 237, 1);
    box-shadow: 0 0 8px rgba(237, 216, 237, 1);
    transform: scale(1.02);
}

/************************************/
/********* Page edit_recipes ********/
/************************************/

.nom, .date {
    text-align: left;
}

.photo {
    text-align: center;
}

.recettes caption {
    font-size: larger;
    font-weight: bold;
    margin: 20px 5px;
}

.recettes tr:nth-child(odd) {
    background-color: #0c2461;
}

th {
    padding: 3px 0; /* Pour les navigateurs qui ne supportent pas les rem */
    padding: 0.3rem 0;
    color: #1e3799;
    background-color: #e58e26;
}

/************************************/
/********** Page search ************/
/************************************/

.search-result tr:hover {
    cursor: pointer;
    background-color: #4b3019;
}

/************************************/
/********* Media Queries ************/
/************************************/

/* smartphone */

@media all and (max-device-width: 767px) {
    html {
        font-size: 50%;
    }

    body {
        margin-top: 0;
    }

    header {
        position: sticky;
        flex-direction: column;
        min-height: auto;
    }

    article p, td {
        line-height: 1.2;
        width: auto;
    }

    tr > td {
        padding-left: 3px;
    }

   header h1 {
        margin: 2rem auto;
        font-size: 20px; /* Pour les navigateurs qui ne supportent pas les rem */
        font-size: 2rem;
    }

    article h4 {
        border-bottom: #e76838 solid 2px;
        border-top: #e76838 solid 2px;
    }

    #view-recipe-article h3 {
        font-size: 20px; /* Pour les navigateurs qui ne supportent pas les rem */
        font-size: 2rem;
    }

    #view-recipe-article h4 {
        font-size: 19px; /* Pour les navigateurs qui ne supportent pas les rem */
        font-size: 1.9rem;
    }

    #view-recipe-article h5 {
        font-size: 18px; /* Pour les navigateurs qui ne supportent pas les rem */
        font-size: 1.8rem;
    }

    article div {
        flex-direction: column;
    }

    #main-navigation ul {
        display: flex;
        flex-direction: column;
    }

    #main-navigation li {
        margin-bottom: 5px;
        text-align: center;
    }

    .recettes td:nth-child(2) {
        padding: 0 8px;
    }

    .form {
        padding: 10px 10px;
    }
}