/*******************************************************
                        GENERIC
 *******************************************************/

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.italic {
    font-style: italic
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin: 0 auto;
}
