Options +FollowSymlinks
RewriteEngine On

#Empêcher le listage des répertoires
Options -Indexes

#Protection anti sniffing
Header set X-Content-Type-Options nosniff

#Protection XSS
Header set X-XSS-Protection "1; mode=block"

# Redirection vers du HTTPS:
RewriteCond %{SERVER_PORT} 80
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{HTTP_HOST} jeanliautaud\.fr [NC]
#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://jeanliautaud.fr/omnicuiseur/$1 [R,L]

#***************************************************************************
# monsite.com/page   -> monsite.com/index.php/page
# RewriteRule ^source$ resultat [flag]
# ^ symbolise le début d'une chaine
# $ symbolise la fin d'une chaine
# ? n = 0 ou 1
# + n = 1 ou une infinité
# * n = 0 ou une infinité
# -  signifie une portée comme 0-9 = tous les nombres de 0 à 9
#***************************************************************************

# Allow any files or directories that exist to be displayed directly
RewriteCond ${REQUEST_URI} ^.+$
RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|php|ico|txt|pdf|xml)$ [OR]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^ - [L]

#RewriteBase "/omnicuiseur/"

RewriteRule ^(.*?)\.(php|css|js|jpg|jpeg|png|pdf)$ - [L]

RewriteRule ([a-z-]+) index.php?page=$1 [L,QSA]

#RewriteRule ^(.+)/([0-9]+)/?$ index.php?page=$1&id=$2 [L,QSA]

RewriteRule ^([a-z]{2})/([^/]+)/?$ index.php?page=$1&action=$2id=$3 [L,QSA]

#ErrorDocument 404 /index/404
