Options +FollowSymlinks
RewriteEngine On

#RewriteRule	^admin             index.php?page=admin	[QSA]
#RewriteRule ^([a-zA-Z0-9_]+)$ index.php?page=$1 [L]

#RewriteCond "%{REQUEST_FILENAME}" "!-f"
#RewriteCond "%{REQUEST_FILENAME}" "!-d"
#RewriteRule ^([a-zA-Z0-9_]+)$ index.php?page=$1 [L]
# Permanent reirect ALL old pages to HTTPS:
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#TODO vérifier la page 404
ErrorDocument 404 /application/view/404.phtml

#***************************************************************************
# monsite.com/page   -> monsite.com/index.php/page
# RewriteRule ^source$ resultat [flag]
# ^ symbolise le début d'une chaine
# $ symbolise la fin d'une chaine
# ? n = 0 ou 1
# + n = 1 ou une infinité
# * n = 0 ou une infinité
# -  signifie une portée comme 0-9 = tous les nombres de 0 à 9

